---
layout: default
---

<div class="page-section">
  <div class="container-lg px-3 py-4">
    <div class="d-md-flex d-md-flex-row gutter-md-spacious">
      <div class="col-md-9">
        <h1 class="h1 lh-condensed-ultra">{{ app.data.title }}</h1>
        <div class="color-text-tertiary">{{ app.data.description }}</div>
      </div>
      <div class="col-md-3 text-center">
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/SRiazRaza/{{ app.data.slug }}/fork" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork SRiazRaza/fgfgfg on GitHub">Fork</a>
        <div class="color-text-tertiary">
        <a class="github-button" href="https://github.com/SRiazRaza/{{ app.data.slug }}" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star SRiazRaza/fgfgfg on GitHub">Star</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="color-bg-tertiary text-white">
  <div class="container-lg px-3 py-6">
    <div class="d-md-flex gutter-md-spacious">
      <div class="col-md-9">
        <div class="sixteen-by-nine rounded-1 color-bg-primary overflow-hidden">
          {% for screenshot in app.data.screenshots %}
            <input class="switcher-input" id="screenshot-{{ forloop.index }}" type="radio" name="switcher"{% if forloop.index == 1 %} checked{% endif %}>
            <div class="switcher-item content d-flex flex-items-center flex-justify-center p-3">
              <img src="{{ screenshot }}" style="max-width:100%; max-height:100%;" alt="Screenshot of {{ app.data.title }} app">
            </div>
          {% endfor %}
        </div>
        {% if app.data.screenshots.size > 1 %}
        <div class="d-flex flex-items-center flex-justify-center mt-3">
          {% for screenshot in app.data.screenshots %}
            <label for="screenshot-{{ forloop.index }}" class="rounded-1 border border-gray-light mx-2" style="width:125px; height: 70px; background-image: url({{ screenshot }}); background-size: cover; background-position: center; cursor: pointer;">
            </label>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="col-md-3">
        <h4 class="mb-1 h4 color-text-secondary">Repository</h4>
        <p>
          <a class="text-inherit" href="https://github.com/{{ app.data.repository }}">{{ app.data.repository }}</a>
        </p>
        <h4 class="mb-1 h4 color-text-secondary">Authors</h4>
        {% for author in app.data.authors %}
        <a href="https://github.com/{{ author }}" aria-label="{{ author }}" class="tooltipped tooltipped-n avatar-group-item">
              <img class="avatar color-bg-primary" src="https://github.com/{{ author }}.png" alt="{{ author }}" width="35" height="35">
            </a>
          
        {% endfor %}
        <h4 class="mb-1 h4 color-text-secondary">Updated</h4>
        <p><span class="text-white">{{ app.data.updated | date: "%B %e, %Y"}}</p>

        {% if app.data.organizations %}
          <h4 class="mb-1 h4 color-text-secondary">Used By</h4>
          {% for org in app.data.organizations %}
            <a href="https://github.com/{{ org }}" aria-label="{{ org }}" class="tooltipped tooltipped-n avatar-group-item">
              <img class="avatar color-bg-primary" src="https://github.com/{{ org }}.png" alt="{{ org }}" width="35" height="35">
            </a>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="py-6">
  <div class="container-lg px-3">
    <div class="d-md-flex gutter-md-spacious">
      <div class="col-md-9">
        <div class="markdown-body">
          {{ app._templateContent }}
        </div>
      </div>
    </div>
  </div>
</div>
